<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>00184D</key>
	<string>Netgear</string>
	<key>00146C</key>
	<string>Netgear</string>
	<key>00095B</key>
	<string>Netgear</string>
	<key>000FB5</key>
	<string>Netgear</string>
	<key>001288</key>
	<string>2Wire</string>
	<key>001495</key>
	<string>2Wire</string>
	<key>00183F</key>
	<string>2Wire</string>
	<key>00D09E</key>
	<string>2wire</string>
	<key>000D72</key>
	<string>2Wire</string>
	<key>000124</key>
	<string>Acer</string>
	<key>0000F0</key>
	<string>Samsung</string>
	<key>0000FF</key>
	<string>Camtec</string>
	<key>000103</key>
	<string>3Com</string>
	<key>0001F4</key>
	<string>Enterasys</string>
	<key>00022D</key>
	<string>Agere-Lucent</string>
	<key>00026F</key>
	<string>Senao</string>
	<key>000278</key>
	<string>Samsung</string>
	<key>0002B3</key>
	<string>Intel</string>
	<key>00032F</key>
	<string>GST-Linksys</string>
	<key>000425</key>
	<string>Atmel</string>
	<key>00045A</key>
	<string>Linksys</string>
	<key>000476</key>
    <string>3Com</string>
	<key>000625</key>
	<string>Linksys</string>
	<key>00055d</key>
	<string>D-Link</string>
	<key>0010E7</key>
	<string>BreezeNet</string>
	<key>0020D8</key>
	<string>NetWave-Bay</string>
	<key>003065</key>
	<string>Apple</string>
	<key>0030AB</key>
	<string>Delta</string>
	<key>004005</key>
	<string>D-Link</string>
	<key>004033</key>
	<string>Addtron</string>
	<key>004036</key>
	<string>Zoom-Tribe</string>
	<key>004096</key>
	<string>Cisco-Aironet</string>
	<key>005018</key>
	<string>Adv</string>
	<key>00508B</key>
	<string>Compaq</string>
	<key>0050DA</key>
	<string>3Com</string>
	<key>00601D</key>
	<string>Agere-Lucent</string>
	<key>00904D</key>
	<string>Gemtek-D-Link</string>
	<key>0090D1</key>
	<string>Addtron</string>
	<key>00A0F8</key>
	<string>Symbol</string>
	<key>00E003</key>
	<string>Nokia</string>
	<key>00E029</key>
	<string>SMC</string>
	<key>00E063</key>
	<string>Enterasys</string>
	<key>080002</key>
	<string>3Com</string>
	<key>080046</key>
	<string>Sony</string>
	<key>0004E2</key>
	<string>SMC</string>
	<key>00095B</key>
	<string>Netgear</string>
</dict>
</plist>
